In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
df=pd.read_csv("titanic.csv")
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [8]:
# Normalize the Dataset

df['Age'].fillna(df['Age'].median(), inplace= True)
df['Fare'].fillna(df['Fare'].median(), inplace= True)
normalize=["Age","Fare"]
scaler= MinMaxScaler()
df[normalize]= scaler.fit_transform(df[normalize])
print("Normalized Data: ",df)

Normalized Data:       PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex       Age  \
0                              Braund, Mr. Owen Harris    male  0.271174
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.472229
2                               Heikkinen, Miss. Laina  female  0.321438
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.434531
4                             Allen, Mr. William Henry    male  0.434531
..                                                 ...     ...       ...
886                              Montvila, Rev. Juozas    male  0.334004
887                       Graham, Miss. Margaret Edith  female  0.233476
888           Johnston, Miss. Catherine Helen "Carrie"  female  0.346569
889                              Behr, Mr. Karl Howell    male  0.321438
890                                Dooley, Mr. Patrick    male  0.396833

     SibSp  Parch            Ticket      Fare Cabin Embarked
0        1      0         A/5 21171  0.014151   NaN        S
1        1      0          PC 17599  0.139136   C85        C
2        0      0  STON/O2. 3101282  0.015469   NaN        S
3        1      0            113803  0.103644  C123        S
4        0      0            373450  0.015713   NaN        S
..     ...    ...               ...       ...   ...      ...
886      0      0            211536  0.025374   NaN        S
887      0      0            112053  0.058556   B42        S
888      1      2        W./C. 6607  0.045771   NaN        S
889      0      0            111369  0.058556  C148        C
890      0      0            370376  0.015127   NaN        Q

[891 rows x 12 columns]