In [ ]:
import pandas as pd
df=pd.read_csv("titanic.csv")
print(df)

In [ ]:
# Handling missing values

df.drop(labels=['Cabin','Ticket'],axis=1, inplace= True)

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace= True)
df['Embarked'].fillna(df['Embarked'].mode(), inplace= True)

In [ ]:
df